<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>All cats</h1>
        <ul>
            <li th:each="cat:${cats}">
                <span th:text="${cat.name}">Cat name</span>
                <span th:text="${cat.breed}">breed</span>
                <span th:text="${cat.color}">color</span>
                <span th:text="${cat.date}">date</span>
                <form th:action ="@{/users/deleteCat/{id}(id = ${cat.catID})}" method="post">
                    <input type="hidden" th:value="*{cat.catID}"/>
                    <button type="submit">Delete</button>
                </form>
                <form th:action ="@{/users/addFriend}" method="post">
                    <input type="hidden" th:value="${cat.catID}" name="cat"/>
                        <select name = "cat2">
                            <option th:each="friend:${cats}" th:if = "${friend.catID} != ${cat.catID} " th:text = "${friend.name}" th:value="${friend.catID}">friend name</option>
                        </select>
                    <button type="submit">Add friend</button>
                </form>
            </li>
        </ul>
</body>
</html>