<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>ResetPassword</h1>
        <form th:action="@{/reset/savePassword}" method="post">
            <input type="hidden" name="token" th:value="${token}"/>
            <label>Enter new password</label>
            <input type="password" name="pass" id="newpassword" required/>
            <button type="submit">Ok</button>
        </form>
</body>
</html>